<div class="span8">
  <h2>Cara Pemesanan</h2>
  <div class="progress progress-info progress-striped">
    <div class="bar" style="width: 30%;"></div>
  </div>
  <h3>DISTRIBUTOR NAME</h3>
  <h4>ID 4LIFE: <br />
  Handphone: <br />
  Email: <br />
  Web: www.transferfactor-solution.com<br />
  </h4>
  <h3>PEMBAYARAN</h3>
  <p>Pembayaran dapat dilakukan via COD (Bayar ditempat) atau Transfer Bank</p>
  <ul>
  	<li>BCA</li>
  	<li>BRI</li>
  </ul>
  <p>Segera lakukan konfirmasi via SMS setelah Anda melakukan transfer.</p>
  <h3>GARANSI</h3>
  <ol>
  	<li>Barang dijamin ASLI</li>
  	<li>Barang dijamin sampai ke tangan PEMBELI</li>
  	<li>Barang yang cacat diganti dengan yang BARU</li>
  	<li>BEBAS ONGKOS KIRIM untuk kota-kota besar di Indonesia</li>
  </ol>
  
</div>
 