<div class="span8">
  <h2>4LIFE TRANSFER FACTOR</h2>
  <div class="progress progress-info progress-striped">
    <div class="bar" style="width: 30%;"></div>
  </div>
  <p>Memperkenalkan Supplemen Inovatif abad ini</p>
  <p>Woodland Health Report menjulukinya <strong>Miracle Molecule</strong></p>
  <p>Dunia Kedokteran menyebutnya <strong>TRANSFER FACTOR</strong></p>
  <p>Bukan Obat, Herbal, Vitamin, Mineral, Enzym, Kolostrum,Hormon, Steroid, Cell Food, Batu Energi, Magnet, Juice yang dispesialisasi ataupun <strong>SUPLEMEN LAIN YANG ANDA KENAL SAAT INI</strong>.</p>
  <p>TRANSFER FACTOR adalah <strong>MOLEKUL PENDIDIK SISTEM IMUN</strong></p>
  <p>Disebut pendidik sistem imun karena <strong>4LIFE TRANSFER FACTOR</strong> memberi informasi yang dibutuhkan sistem imun :</p>
  <ul>
    <li><strong>IMMUNE IQ ( Mendidik sistem imun )</strong></li>
    <p>TRANSFER FACTOR memberi informasi ke sel Imun (NK Cell) Untuk dapat dengan cepat mengenali / mengidentifikasi rupa-rupa virus, bakteri, jamur, kuman, parasit, serta sel-sel "rusak".</p>
    <li><strong>IMMUNE STIMULATOR ( menguatkan system imun )</strong></li>
    <p>TRANSFER FACTOR merangsang sistem Imun untuk menyerang musuh-musuh (Patogen) dan mengingat susunan spesifik dari setiap kuman, virus, bakteri, jamur, dll yang telah dikalahkan oleh sistem imun, sehingga apabila Patogen kembali lagi, tubuh Anda tahu persis apa itu, dan apa yang harus dilakukan.</p>
    <li><strong>IMMUNE MODULATOR + SUPPRESSOR ( Menyeimbangkan Imun )</strong></li>
    <p>TRANSFER FACTOR Menenangkan Sistem Imun untuk kembali kepada status "Standby" atau Siaga / Stabil apabila musuh-musuh telah di atasi / dikalahkan.</p>
  </ul>
  <p><center><%= link_to 'Pesan Sekarang', home_produk_path, :class => "btn btn-primary" %>&nbsp;<a class="btn btn-primary" href="#">Cara Menjadi DISTRIBUTOR &raquo;</a></center></p>
</div>
 